body {
    background-color: rgb(216, 247, 247);
    background-image: url("../images/mountain landscape.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position:top;
}

main {
    margin: auto;
}
.navbar-toggler {
    background-color: orange;
    border-color: black;
}

.navbar-brand, .nav-link, .text-color {
    color: orange;
    text-shadow: 1px 1px black;
}

#to-do-one, #to-do-two, #to-do-three, #to-do-four, #to-do-five, #result-one, #result-two, #result-three, #result-four, #result-five {
    background-color: grey;
    color: orange;
    text-shadow: 1px 1px black;
}

#result-list, .my-to-dos {
    list-style: none;
    background-color:grey;
    
}
#stateName {
    font-weight: bold;
    text-shadow: 1px 1px black;
    text-decoration: underline;
    background-color: grey;
}

.footer {
    margin: 30px;
}